body {
 padding: 0;
 margin: 0;
 min-width: 1200px;
 font-family: "PT Sans Narrow", "Arial", sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: 400;
 text-transform: uppercase;
 color: #333333;
 background-color: #fff;
}

.first-title {
 font-weight: 700;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
}

.second-title {
 font-weight: 700;
 font-size: 30px;
 line-height: 24px;
 color: #000000;
}

.main-container {
 width: 1200px;
 margin: 0 auto;
}

.main-nav {
 background-color: #fff;
 box-sizing: border-box;
 padding: 0 72px 0 72px;
 font-weight: 700;
}

.page-header {
  position: relative;
}

.page-header-logo {
  position: absolute;
  left: 550px;
  top: -1px;
  width: 138px;
  height: 70px;
}

.main-nav-list {
 display: flex;
 justify-content: space-between;
 list-style: none;
 margin: 0;
 padding: 0.6%;
}

.main-nav-list a {
  color: #333333;
  text-decoration: none;
}

.main-nav-list a:hover {
  color: #99cccc;
}

.main-nav-list a:active {
  color: #333333;
  opacity: 0.3;
}

.main-nav-list-item {
  flex-basis: 25%;
}

.main-nav-list-item:nth-child(3),
.main-nav-list-item:nth-child(4) {
 text-align: right;
}

.greeting {
 height: 508px;
 width: 100%;
 background: #ff0000 url("../img/bg-img-mountains.jpg") no-repeat;
}

.greeting img {
  padding-left: 372px;
  padding-top: 76px;
}

.reasons {
 text-align: center;
 padding: 93px 350px 93px 350px;
}

.features-image {
 display: flex;
}

.feature-image-description {
 flex-basis: 33%;
 text-align: center;
 box-sizing: border-box;
 padding-right: 61px;
 padding-left: 61px;
 padding-top: 47px;
 background-color: #81b3d2;
 color: #ffffff;
}

.foto-of-sedona {
 flex-basis: auto;
}

.features {
 display: flex;
}

.features-item {
 flex-basis: 33.333%;
 text-align: center;
 padding: 166px 70px 89px 70px;
}

.features-item-house {
  background: url("../img/house.png") no-repeat;
  background-position: 164px 62px;
}

.features-item-foot {
  background: url("../img/foot.png") no-repeat;
  background-position: 164px 62px;
}

.features-item-gifts {
  background: url("../img/gifts.png") no-repeat;
  background-position: 164px 62px;
}

.features-grey {
  background-color: #eeeeee;
}

 b {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.form-wrapper {
 display: flex;
 width: 570px;
 height: 395px;
 justify-content: center;
}

.form-item {
  padding-top: 55px;
}

.offer {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.btn-search {
  margin-top: 55px;
  width: 570px;
  height: 87px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.map-wrapper {
 height: 592px;
}

.map {
 height: 474px;
}

.main-footer {
 display: flex;
 justify-content: space-around;
}

/*inner*/

.filters {
  width: 100%;
  height: 217px;
}

.filters form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter-item {
  margin-left: 126px;
}

.filter-item-range {
  background-color: red;
  width: 317px;
  height: 107px;
}

.result {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
}

.result-title {
  padding-left: 72px;
  padding-right: 51px;
}

.result-sort {
 display: flex;
 align-items: center;
}

.result-sort li {
  display: inline;
  padding-left: 42px;
}

.result-item {
  height: 151px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding-left: 74px;
  padding-right: 73px;
}

.result-item-foto {
  width: 136px;
  height: 90px;
  border: 1px solid red;
}

.result-item-content {
  margin-left: 31px;
  flex-grow: 1;
}

.result-item-rating {

}
