body {
 padding: 0;
 margin: 0;
 min-width: 1200px;
 font-family: "PT Sans", "Arial", sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: 400;
 text-transform: uppercase;
 color: #333333;
 background-color: #fff;
}

.first-title {
 font-weight: 700;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
 width: 443px;
 margin: 0 auto;
}

.second-title {
 font-weight: 700;
 font-size: 30px;
 line-height: 24px;
 color: #000000;
 margin: 0;
}

.main-container {
 width: 1200px;
 margin: 0 auto;
}

.main-nav {
 background-color: #fff;
 box-sizing: border-box;
 padding: 13px 72px 18px 71px;
 font-weight: 700;
}

.page-header {
  position: relative;
}

.page-header-logo {
  position: absolute;
  left: 50%;
  top: -1px;
  width: 138px;
  height: 70px;
  z-index: 1;
  margin-left: -69px;
}

.main-nav-list {
 display: flex;
 justify-content: space-between;
 list-style: none;
 margin: 0;
 padding: 0;
}

.main-nav-list-item:nth-last-of-type(2) {
  padding-right: 20px;
}

.main-nav-list a {
  color: #333333;
  text-decoration: none;
}

.main-nav-list a:hover {
  color: #99cccc;
}

.main-nav-list a:active {
  color: #333333;
  opacity: 0.3;
}

.main-nav-list-item {
  flex-basis: 25%;
}

.main-nav-list-item:nth-child(3),
.main-nav-list-item:nth-child(4) {
 text-align: right;
}

.greeting {
  display: flex;
  justify-content: center;
 position: relative;
 min-height: 508px;
 width: 100%;
 background: #ff0000 url("../img/bg-img-mountains.jpg") no-repeat 0px -53px;
}

.greeting::after {
  content: "";
  position: absolute;
  background-image: url("../img/mask.png");
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
}

.greeting img {
  padding-left: 372px;
  padding-top: 76px;
  padding: 76px 0
}

.reasons {
 text-align: center;
 padding: 62px 0 56px;
}

.reasons p {
  margin: 0;
  padding-top: 29px;
}

.features-image {
 display: flex;
}

.feature-image-description {
 flex-basis: 33,33%;
 text-align: center;
 box-sizing: border-box;
 padding: 46px 50px 0 50px;
 background-color: #81b3d2;
 color: #ffffff;
}

.resons-number {
  padding: 22px 0 22px;
}

.feature-image-description p {
  margin: 0;
}

.foto-of-sedona {
 flex-basis: auto;
}

.features {
 display: flex;
}

.features-item {
 flex-basis: 33.333%;
 text-align: center;
 padding: 161px 50px 84px 50px;
}

.features-item p {
  margin: 0;
  padding-top: 22px;
}

.features-item-house {
  background: url("../img/house.png") no-repeat;
  background-position: 162px 60px;
}

.features-item-foot {
  background: url("../img/foot.png") no-repeat;
  background-position: 164px 60px;
}

.features-item-gifts {
  background: url("../img/gifts.png") no-repeat;
  background-position: 168px 55px;
}

.features-grey {
  background-color: #eeeeee;
}

.features-grey .features-item {
  padding: 48px 34px 60px 37px;
}

 b {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
/*форма поиска*/
.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  height: 395px;
  padding: 56px 55px 55px 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 50%;
  margin-left: -285px;
  z-index: 1;
}

.form-item {
  flex-basis: 100%;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 27px;
}

.form-item-date {
  position: relative;
}

.form-item input {
  width: 346px;
  height: 37px;
  border: 0;
}

.form-item-date input {
  background-color: #f2f2f2;
}

.btn-calendar {
  position: absolute;
  width: 39px;
  height: 39px;
  right: 3px;
  border: 0;
  background: #f2f2f2 url("../img/form-element.png") no-repeat 12px 7px;
}

.btn-calendar:hover {
  background: #f2f2f2 url("../img/form-element-hover.png") no-repeat 8px;
}

.btn-calendar:active {
  background: #f2f2f2 url("../img/form-element-active.png") no-repeat 8px;
}

label[for*="date-in"] {
  padding-right: 18px;
}

label[for*="date-off"] {
  padding-right: 14px;
}

label[for*="adults"] {
  padding-right: 39px;
}

label[for*="children"] {
  padding: 0 24px 0 50px;
}

.form-item-age {
  position: relative;
  flex-basis: 50%;
  padding-top: 2px;
}

.form-item-age input {
  width: 114px;
  height: 37px;
  text-align: center;
  background-color: #f2f2f2;
}

.btn-minus,
.btn-plus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 0;
}

.btn-minus-adults {
  background: #f2f2f2 url("../img/minus-static.png") no-repeat 12px;
  top: 5px;
  right: 86px;
}

.btn-plus-adults {
  right: 10px;
  bottom: 33px;
  background: #f2f2f2 url("../img/plus-static.png") no-repeat 12px;
}

.btn-minus-children {
  left: 117px;
  bottom: 34px;
  background: #f2f2f2 url("../img/minus-static.png") no-repeat 12px;
}

.btn-plus-children {
  bottom: 32px;
  right: 7px;
  background: #f2f2f2 url("../img/plus-static.png") no-repeat 12px;
}

.btn-minus-adults:hover,
.btn-minus-children:hover {
  background: #f2f2f2 url("../img/minus-hover.png") no-repeat 12px;
  top: 0;
  right: 79px;
}

.btn-minus-adults:active,
.btn-minus-children:active {
  background: #f2f2f2 url("../img/minus-active.png") no-repeat 12px;
  top: 0;
  right: 79px;
}

.btn-plus-adults:hover,
.btn-plus-children:hover {
  right: 2px;
  background: #f2f2f2 url("../img/plus-hover.png") no-repeat 12px;
}

.btn-plus-adults:active,
.btn-plus-children:active {
  right: 2px;
  background: #f2f2f2 url("../img/plus-active.png") no-repeat 12px;
}


/*
.form-item-age input:hover {
  background: #f2f2f2 url("../img/plus-minus-hover.png") no-repeat 14px;
}

.form-item-age input:active {
  background: #f2f2f2 url("../img/plus-minus-active.png") no-repeat 14px;
}

.form-item-age input:focus {
  background: #f2f2f2 url("../img/plus-minus-active.png") no-repeat 14px;
}
*/

.btn-search-form {
  width: 457px;
  height: 57px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: 0;
  font-family: "PT Sans";
  font-weight: 700;
}

.btn-search-form:hover {
  background-color: #669ec0;
}

.btn-search-form:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3 )
}

.form-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

.offer p {
  margin: 0;
  padding: 32px 0 54px 0;
}

.btn-search {
  width: 570px;
  height: 87px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  font-family: "PT sans";
}

.map {
  height: 592px;
  background-image: url("../img/map.jpg");
}

.main-footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 28px 0 28px 29px;
 background-color: rgba(255, 255, 255, 0.9);
}

.map-wrapper {
  position: relative;
}

.main-footer-map {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-footer a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-right: 11px;
}

.footer-social {
  padding-left: 30px;
}

.social-btn {
  display: inline-block;
  width: 35px;
  height: 48px;
  background: #81b3d2 url("../img/btn-social.png") no-repeat 0 0;
  margin-right: 3px;
}

.social-btn-twt {
  background-position: 14px 14px;
}

.social-btn-fb {
  background-position: -36px;
}

.social-btn-yt {
  background-position: -89px;
}

.social-btn-twt:hover,
.social-btn-fb:hover,
.social-btn-yt:hover {
  background-color: #669ec0;
}

.social-btn-twt:active,
.social-btn-fb:active,
.social-btn-yt:active {
  background-color: #5496bd;
}

.footer-logo p {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo a {
  width: 114px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/html-academy.png") no-repeat 1px;
}

.footer-logo a:hover {
  background: url("../img/html-academy-hover.png") no-repeat 1px;
}

.footer-logo a:active {
  background: url("../img/html-academy-active.png") no-repeat 1px;
}


/*inner*/

.filters {
  background: url("../img/filter-img-bg.jpg") no-repeat;
}

.filters form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 27px 73px 0 70px;
}

.filter-item {
  flex-basis: 12,08%;
  padding-bottom: 6px;
}

.filter-item-infrastructure {
  padding-right: 120px;
}

.filter-item-accommodation {
  flex-grow: 1;
}

.select-menu-list {
  list-style: none;
  margin: 26px 0 0;
  padding: 0;
}

.select-menu-list-item {
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.select-menu-list-item li:not(:last-of-type) {
  padding-bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  padding-left: 41px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -1px;
  left: 1px;
  background: url("../img/border-checkbox.png") no-repeat;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: url("../img/checkbox.png") no-repeat;
}

.filter-item p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.filter-range {
  flex-basis: 30%;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  color: #ffffff;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 20px;
  width: 135px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-trasparent:hover {
  color: #000000;
  background: #ffffff;
}

.result {
  display: flex;
  align-items: center;
  padding: 30px 72px 30px 72px;
  border-bottom: 1px solid rgb(229,229,229);
}

.result p {
  margin: 0;
}

.result-title {
  padding-right: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.result-sort {
 display: flex;
 align-items: center;
}

.result-sort li {
  display: inline;
  padding-left: 27px;
}

.result-sort p {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}

.result-sort-list {
  margin: 0 0 0 -27px;
}

.result-sort-list a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
}

.result-sort-list a:hover {
  border-bottom: 1px dashed #81b3d2;
  color: #81b3d2;
}

.result-arrwos {
  flex-grow: 1;
  text-align: right;
}

.arrow {
  display: inline-block;
}

.arrow::before {
  content: "";
  border: 10px solid #81b3d2;
  border-right-width: 5px;
  border-left-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
}

.arrow-down::before {
  border-bottom: 0;
}

.arrow-up::before {
  border-bottom: 0;
  transform: rotate(180deg);
  margin-right: 11px;
}

.result-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(229,229,229);
  padding: 28px 72px 28px 72px;
}

.result-item-foto {
  width: 137px;
  height: 91px;
}

.result-item-content {
  padding-left: 28px;
  flex-grow: 1;
}

.result-item-content p {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 0 17px 0;
  margin: 0;
}

.result-item-content a {
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.result-item-content a:hover {
  color: #81b3d2;
}

.result-item-content a:active {
  color: #000000;
  opacity: 0.3;
}

.btn-result-details,
.btn-result-reserv {
  height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: "Pt Sans";
  border: 0;
}

.btn-result-details {
  background-color: #81b3d2;
  width: 110px;
}

.btn-result-details:hover {
  background-color: #669ec0;
}

.btn-result-details:active {
  background-color: #5496bd;
}

.btn-result-reserv {
  background-color: #766357;
  width: 142px;
}

.btn-result-reserv:hover {
  background-color: #604e43;
}

.btn-result-reserv:active {
  background-color: #503e33;
}

.result-item-rating {
  text-align: right;
}

.result-item-rating div {
  background-color: #f2f2f2;
  padding: 5px 15px 5px 13px;
}

.result-item-rating span {
  background: url("../img/star-rating.png") no-repeat;
  width: 18px;
  height: 17px;
  display: inline-block;
  margin-bottom: 40px;
  padding-right: 4px;
}
